# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# SQLite database (DO NOT PUSH)
*.sqlite
*.db

# VS Code settings
.vscode/

# SQLTools session files
*.session.sql

# OS files
.DS_Store
Thumbs.db
